@{
    ViewBag.Title = "About";
}

<div class="aboutMessage">
    <label id="about">
        About
    </label>
</div>

<div class="aboutDescMessage">
    <label id="DescMessage">
        This application was created with the intention of assisting students with learning disabilities. This application was
        created to be used in conjunction with studies and not as a standalone learning platform.
    </label>
</div>

<hr />

<div class="featuresMessage">
    <label id="featuresMessage">
        Features
    </label>
</div>

<div class="featuresDescMessage">
    <label id="featuresDescMessage">
        Below is a list of useful features the application includes and how they support learning disabled students
    </label>
</div>

<hr />

<div class="featuresDiv">
    <table>
        <tr>
            <td>
                <div class="InfoTitle">
                    <label id="info">User Interface</label>
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="InfoMessage">
                    <label id="Message">Clear and easy to user UI for learning disabled users</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="InfoButton">
                    <input type="button" class="btn btn-primary" id="UIInfo" value="UI Info" />
                </div>
            </td>
        </tr>


    </table>
    <hr />
    <table>
        <tr>
            <td>
                <div class="InfoTitle">
                    <label id="info">Forum</label>
                </div>
            </td>
        </tr>
        <tr>
            
            <td>
                <div class="InfoMessage">
                    <label id="Message">The forum is a place where users can create posts, assign categories to them and post comments!</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="InfoButton">
                    <input type="button" class="btn btn-primary" id="ForumInfo" value="Forum Info" />
                </div>
            </td>
        </tr>

        </table>
    <hr />
    <table>
        <tr>
            <td>
                <div class="InfoTitle">
                    <label id="info">Chat Room</label>
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="InfoMessage">
                    <label id="Message">The chat room is where users can chat to others users currenlty in the chat room!</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="InfoButton">
                    <input type="button" class="btn btn-primary" id="ChatRoomInfo" value="Chat Room Info" />
                </div>
            </td>
        </tr>
        </table>
    <hr />
    <table>

        <tr>
            <td>
                <div class="InfoTitle">
                    <label id="info">ToDo List</label>
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="InfoMessage">
                    <label id="Message">The ToDo list is a feature that allows users to track their tasks through their personal To Do lists</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="InfoButton">
                    <input type="button" class="btn btn-primary" id="ToDoListInfo" value="ToDo List Info" />
                </div>
            </td>
        </tr>
        </table>
    <hr />
    <table>
        <tr>
            <td>
                <div class="InfoTitle">
                    <label id="info">Donwloads</label>
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="InfoMessage">
                    <label id="Message">Users can access a range of Easy Read material uploaded by teachers on the system</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="InfoButton">
                    <input type="button" class="btn btn-primary" id="DownloadsInfo" value="Downloads Info" />
                </div>
            </td>
        </tr>
        </table>
    <hr />
    <table>
        <tr>
            <td>
                <div class="InfoTitle">
                    <label id="info">Speech Recognition</label>
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="InfoMessage">
                    <label id="Message">Users can use speech recognition to search the website, search google and enter text!</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="InfoButton">
                    <input type="button" class="btn btn-primary" id="RecognitionInfo" value="Recognition Info" />
                </div>
            </td>
        </tr>

        </table>
    <hr />
    <table>
        <tr>
            <td>
                <div class="InfoTitle">
                    <label id="info">Speech Dictation</label>
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="InfoMessage">
                    <label id="Message">Users can make use of the speech dictation that supports almost all the text in the application!</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="InfoButton">
                    <input type="button" class="btn btn-primary" id="DictationInfo" value="Dictation Info" />
                </div>
            </td>
        </tr>
        </table>
    <hr />
    <table>
        <tr>
            <td>
                <div class="InfoTitle">
                    <label id="info">Profiles</label>
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <div class="InfoMessage">
                    <label id="Message">Users can personilze profiles with custom avatars that are displayed in comments and the nav bar!</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="InfoButton">
                    <input type="button" class="btn btn-primary" id="ProfilesInfo" value="Profiles Info" />
                </div>
            </td>
        </tr>


    </table>
</div>


@section scripts {
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/sweetalert.min.js"></script>
<script type="text/javascript">

// say a message
    function speak(text, callback) {
        var u = new SpeechSynthesisUtterance();
        u.text = text;
        u.lang = 'en-GB';
        u.onend = function () {
            if (callback) {
                callback();
            }
        };

        u.onerror = function (e) {
            if (callback) {
                callback(e);
            }
        };
        speechSynthesis.speak(u);
    };
</script>



<script>
    document.getElementById('featuresDescMessage').onclick = function () {
        var header = document.getElementById('featuresMessage').innerText;
        var stop = ".";
        var body = document.getElementById('featuresDescMessage').innerText;
        speak((header + stop) + body);
    };

    document.getElementById('DescMessage').onclick = function () {
        var header = document.getElementById('about').innerText;
        var stop = ".";
        var body = document.getElementById('DescMessage').innerText;
        speak((header + stop) + body);
    };



</script>


    <script>
        

        document.getElementById('ProfilesInfo').onclick = function () {
            var profilesText = "The profiles system was slightly expanded to include profile photos. These photos help give the users an identity on the application and to further express themselves. The profile photos appear when a user leaves a comment on a forum post";
            var prfiles = "The Profiles";
            alertInfo(prfiles, profilesText);
        };


        document.getElementById('DictationInfo').onclick = function () {
            var dictationText = "It was an aim to encourage the learning disabled users to interact with the website. Therefor, speech dictation was added to many of the text items in the application. This will help students that have a hard time reading or students that suffer from learning disabilities such as dyslexia";
            var dictation = "Speech Dictation";
            alertInfo(dictation, dictationText);
        };

        document.getElementById('RecognitionInfo').onclick = function () {
            var recognitionText = "Speech recogniton was added to the application to aid users who may struggle with spelling, typing and navigating the website in general. The use of speech recognition is extended to navigating the website, performing google searches in a new tab, and using speech recognition as an alternative to using the keyboard for input";
            var recognition = "Speech Recognition";
            alertInfo(recognition, recognitionText);
        };

        

        

        


        document.getElementById('UIInfo').onclick = function () {
            var uiText = "The application boasts a clear and easy to use UI that is suitible for learning disabled users. The application supports its usability further through speech dictation and recognition to aid and improve the user experiance.";
            var ui = "User Interface";
            alertInfo(ui, uiText);
        };

    </script>

    <script>
        document.getElementById('ChatRoomInfo').onclick = function () {
            var chatText = "The chat room was implemented to give the users a place to get instant responses from other users, and potentially act as a hub where they can distance themselves from education. Users can join the chat using their username or enter a custom nickname to hide their identities.";
            var chat = "Chat Room";
            alertInfo(chat, chatText);
        };
    </script>

    <script>
        document.getElementById('DownloadsInfo').onclick = function () {
            var downloadsText = "The downloads section supports Easy Read material that teachers on the system are responsible for uploading. Users can easily download this material and view it instantly";
            var downloads = "Downloads";
            alertInfo(downloads, downloadsText);
        };
    </script>

    <script>
        document.getElementById('ForumInfo').onclick = function () {
            var forumText = "The forum is a place where users can post questions or generally create relevant posts. It was important for the learning disabled to have a forum on the appliction where they could potentially discuss their disabilities or questions based on their studies." + forumText2;
            var forum = "The Forum";
            var forumText2 = "Forum posts can be easily categorized and the forum supports useful searching and filtering features."
            alertInfo(forum, forumText);
        };
    </script>

    <script>
        document.getElementById('ToDoListInfo').onclick = function () {
            var todoText = "Many learning disabled users have suffer from issues with short term memory loss. Due to this a ToDo list was implemented that allows the users to keep track of tasks. ToDo items can be entered easily and they can be marked as completed or not, this feature also includes a progress bar so the students can easily monitor their progress";
            var todo = "ToDo List";
            alertInfo(todo, todoText);
        };
    </script>

    <script>

        function alertInfoBigger(titleSelected, textSelected1, textSelected2) {
            swal({
                title: titleSelected,
                text: textSelected,
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "skyblue",
                confirmButtonText: "Speech Dictation",
                closeOnConfirm: false
            },
            function () {
                speak((titleSelected + ",") + textSelected1);
                speak(textSelected2);
            });
        }

        function alertInfo(titleSelected, textSelected) {
            swal({
                title: titleSelected,
                text: textSelected,
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "skyblue",
                confirmButtonText: "Speech Dictation",
                closeOnConfirm: false
            },
            function () {
                speak((titleSelected + ",") + textSelected);
            });
        }
    </script>
    }