@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="welcome">
    <label id="welcomeMessage" for="welcome">Welcome</label>
</div>

<div class="hoverDesc">
    <label id="homeMessage" for="home">This is the application homepage, below you will find useful links and features to get you started on the website. For more infomation, visit the About page.</label>
</div>

<hr />

<div class="search">
    <label id="searchMessage" for="home">Searching</label>
</div>

<div class="searchDesc">
    <label id="searchDescMessage"for="home">This application supports speech recognition searching, you can use this function to navigate the application or perform searches in Google</label>
</div>

<hr />

<div class="searching">
    <table>
        <tr>
            <td>
                <div class="googleSearch">
                    <div class="googleLabel"><label for="searchApp">Google Search</label></div>
                    <img onclick="startDictationGoogle()" src="~/Content/images/mic.gif" />

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="appSearch">
                    <div class="appLabel"><label for="searchApp" id="appSearchSupport">Speech Navigation</label></div>
                    <img onclick="startDictationApplication()" src="~/Content/images/mic.gif" />
                </div>
            </td>
        </tr>
    </table>
</div>

<form id="labnol" method="get" target="_blank" action="https://www.google.com/search">
    <div class="speech">
        <input type="hidden" name="q" id="transcript" placeholder="Speak" />
    </div>
</form>

<form id="labnol1">
    <div class="speech">
        <input type="hidden" name="q2" id="transcript2" placeholder="Speak" />
    </div>
</form>



<hr />

<!-- Search Form -->


<div class="links">
    <label id="linksMessage"for="home">Quick Links</label>
</div>

<div class="linksDesc">
    <label id="linksDescMessage"for="home">Here are some quick links to get you started with the application, click the text to reveal each links voice command for searching</label>
</div>

<hr />

<div class="buttons">
    <table>
        <tr>
            <td>
                <div class="chat-row">
                    <a class="ror" id="chatlink">Chat Room</a>
                    <button id="chbtn" type="button" onclick="location.href='@Url.Action("Chat", "Home")'">
                        <img alt="Chat" title="Join the application chat room" src="~/Content/images/chat.png">
                    </button>
                </div>
            </td>
            <td>
                <div class="download-row">
                    <a id="downloadlink">Downloadable Material</a>
                    <button type="button" onclick="location.href='@Url.Action("Downloads", "File")'">
                        <img alt="Downloads" title="View the available downloads" src="~/Content/images/folder.png">
                    </button>
                </div>
            </td>
            <td>
                <div class="todo-row">
                    <a id="todolink">ToDo List</a>
                    <button type="button" onclick="location.href='@Url.Action("Index", "ToDoes")'">
                        <img alt="ToDo" title="View and track your ToDo list" src="~/Content/images/todo.jpeg">
                    </button>
                </div>
            </td>
            <td>
                <div class="forum-row">
                    <a id="forumlink">Forum Posts</a>
                    <button type="button" onclick="location.href='@Url.Action("Index", "Forum")'">
                        <img alt="Forum" title="View and add forum posts" src="~/Content/images/forum.png">
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>

<hr />

<div class="homeContainer"> 
    <label id="quoteMessage" for="quote">"Everybody is a Genius. But If You Judge a Fish by Its Ability to Climb a Tree, It Will Live Its Whole Life Believing that It is Stupid"</label>
</div>
<!-- HTML5 Speech Recognition API -->

@section scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/sweetalert.min.js"></script>

    <script type="text/javascript">

// say a message
    function speak(text, callback) {
        var u = new SpeechSynthesisUtterance();
        u.text = text;
        u.lang = 'en-GB';
        u.onend = function () {
            if (callback) {
                callback();
            }
        };

        u.onerror = function (e) {
            if (callback) {
                callback(e);
            }
        };
        speechSynthesis.speak(u);
    };
    </script>

    <script>
    function startDictationGoogle() {

        if (window.hasOwnProperty('webkitSpeechRecognition')) {

            var recognition = new webkitSpeechRecognition();

            recognition.continuous = false;
            recognition.interimResults = false;

            recognition.lang = "en-GB";
            recognition.start();

            recognition.onresult = function(e) {
                document.getElementById('transcript').value
                                         = e.results[0][0].transcript;
                recognition.stop();
                document.getElementById('labnol').submit();
            };

            recognition.onerror = function(e) {
                recognition.stop();
            }

        }
    }
    </script>

    <script>
    function startDictationApplication() {
        if (window.hasOwnProperty('webkitSpeechRecognition')) {
            var recognition = new webkitSpeechRecognition();
            recognition.continuous = false;
            recognition.interimResults = false;
            recognition.lang = "en-GB";
            recognition.start();
            recognition.onresult = function(e) {
                document.getElementById('transcript2').value = e.results[0][0].transcript;
                recognition.stop();
                if (document.getElementById('transcript2').value == "forum") {
                    swal({
                        type: "success",
                        title: "Loud and Clear!",
                        text: "Taking you to the forum!",
                        timer: 2000,
                        showConfirmButton: false
                    });
                    window.location.href = 'http://localhost:59658/Forum/Index';
                } else if (document.getElementById('transcript2').value == "to do") {
                    swal({
                        type: "success",
                        title: "Loud and Clear!",
                        text: "Taking you to you ToDo list!",
                        timer: 2000,
                        showConfirmButton: false
                    });
                    window.location.href = 'http://localhost:59658/ToDoes/Index';
                } else if (document.getElementById('transcript2').value == "chat room") {
                    swal({
                        type: "success",
                        title: "Loud and Clear!",
                        text: "Taking you to you to the chat room",
                        timer: 2000,
                        showConfirmButton: false
                    });
                    window.location.href = 'http://localhost:59658/Home/Chat';
                } else if (document.getElementById('transcript2').value == "materials") {
                    swal({
                        type: "success",
                        title: "Loud and Clear!",
                        text: "Taking you to you the downloadable materials",
                        timer: 2000,
                        showConfirmButton: false
                    });
                    window.location.href = 'http://localhost:59658/File/Downloads';
                } else if (document.getElementById('transcript2').value == "account") {
                    swal({
                        type: "success",
                        title: "Loud and Clear!",
                        text: "Taking you to your account",
                        timer: 2000,
                        showConfirmButton: false
                    });
                    window.location.href = 'http://localhost:59658/Manage/Index';
                } else if (document.getElementById('transcript2').value == "contact") {
                    swal({
                        type: "success",
                        title: "Loud and Clear!",
                        text: "Taking you to you the contact page",
                        timer: 2000,
                        showConfirmButton: false
                    });
                    window.location.href = 'http://localhost:59658/Home/Contact';
                } else if (document.getElementById('transcript2').value == "about") {
                    swal({
                        type: "success",
                        title: "Loud and Clear!",
                        text: "Taking you to you the about page",
                        timer: 2000,
                        showConfirmButton: false
                    });
                    window.location.href = 'http://localhost:59658/Home/About';
                }
                else {
                    swal({
                        type: "error",
                        title: "No such page!",
                        text: "Please refer to supported voice recogniton pages and try again!",
                        timer: 2000,
                        showConfirmButton: false
                    });
                }
            };
            recognition.onerror = function(e) {
                recognition.stop();
            }
        }
    }
    </script>

    <script>

        function chatVoiceCommand() {
            swal({
                title: "Speak: Chat Room",
                text: "The follwoing command will navigate you to the chat room",
                type: "info",
                animation: "slide-from-top",
                closeOnConfirm: true,
            });
            speak("Chat Room");
        };

        document.getElementById('chatlink').onclick = function () {
            chatVoiceCommand();
        };

        function downloadVoiceCommand() {
            swal({
                title: "Speak: Materials",
                text: "The follwoing command will navigate you to the downloads",
                type: "info",
                animation: "slide-from-top",
                closeOnConfirm: true,
            });
            speak("Materials");
        };

        document.getElementById('downloadlink').onclick = function () {
            downloadVoiceCommand();
        };

        function todoVoiceCommand() {
            swal({
                title: "Speak: To Do",
                text: "The follwoing command will navigate to your ToDo list",
                type: "info",
                animation: "slide-from-top",
                closeOnConfirm: true,
            });
            speak("To Do");
        };

        document.getElementById('todolink').onclick = function () {
            todoVoiceCommand();
        };

        function forumVoiceCommand() {
            swal({
                title: "Speak: Forum",
                text: "The follwoing command will navigate to the forum",
                type: "info",
                animation: "slide-from-top",
                closeOnConfirm: true,
            });
            speak("forum");
        };

        document.getElementById('forumlink').onclick = function () {
            forumVoiceCommand();
        };
    </script>


<script>

        document.getElementById('searchDescMessage').onclick = function () {
            var header = document.getElementById('searchMessage').innerText;
            var stop = ".";
            var body = document.getElementById('searchDescMessage').innerText;
            speak((header +stop) + body);
        };

        document.getElementById('linksDescMessage').onclick = function () {
            var header = document.getElementById('linksMessage').innerText;
            var stop = ".";
            var body = document.getElementById('linksDescMessage').innerText;
            speak((header +stop) + body);
        };

        document.getElementById('quoteMessage').onclick = function () {
            
            var body = document.getElementById('quoteMessage').innerText;
            speak(body);
        };

        document.getElementById('homeMessage').onclick = function () {
            var header = document.getElementById('welcomeMessage').innerText;
            var stop = ".";
            var body = document.getElementById('homeMessage').innerText;
            speak((header + stop) + body);
        };

        document.getElementById('appSearchSupport').onclick = function () {
            var support = "Forum" + '\n' + 
                ", To Do" + '\n' + 
                ", Chat Room" + '\n' + 
                ", Materials" + '\n' + 
                ", Account" + '\n' + 
                ", Contact" + '\n' + 
                ", About"
            swal({
                title: "Supported Commands",
                text: "1.) Forum" + 
                    '\n' + "2.) To Do" + 
                    '\n' + "3.) Chat Room" + 
                    '\n' + "4.) Materials" + 
                    '\n' + "5.) Account" + 
                    '\n' + "6.) Contact" + 
                    '\n' + "7.) About" ,
                type: "info",
                animation: "slide-from-top",
                closeOnConfirm: true,
            });

            speak(support);
        };

</script>

}