@model FinalYearProject.Models.ToDo


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="toDo">
    <label id="toDoMessage" for="toDo">To Do List</label>
</div>

<div class="toDoDesc">
    <label id="toDoDescMessage"for="toDoDesc">This is your To-Do list. Here you can add items easily to help remind you of any tasks you need to complete.</label>
</div>

<hr />
<form id="labnol1">
    <div class="speech">
        <input type="hidden" name="q2" id="transcript" placeholder="Speak" />
    </div>
</form>

<div class="item">
    <label id="enterToDo">Enter To Do items.</label>
</div>

<hr />

<div class="todoCreateFrom">
    @using (Ajax.BeginForm("AJAXCreate", "ToDoes", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "tableDiv"
    }))

    {
        
            @Html.AntiForgeryToken()
            <div class="enterItems">
                <table>
                    <tr>
                        
                        <td>
                            <div class="enterItem">
                                @Html.TextBoxFor(model => model.Description, new { @id = "bxc" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </td>
                        <td>
                            <div class="micItem">
                                <img onclick="startDictationToDo()" src="//i.imgur.com/cHidSVu.gif" />
                            </div>
                        </td>
                    </tr>
                </table>   
            </div>
        
    }

</div>

<hr />

<div id="tableDiv"></div>



@section Scripts {
<link href="~/Content/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildTable.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/sweetalert.min.js"></script>
<script type="text/javascript">

// say a message
    function speak(text, callback) {
        var u = new SpeechSynthesisUtterance();
        u.text = text;
        u.lang = 'en-US';
        u.onend = function () {
            if (callback) {
                callback();
            }
        };

        u.onerror = function (e) {
            if (callback) {
                callback(e);
            }
        };
        speechSynthesis.speak(u);
    };
</script>
    <script>
        document.getElementById('toDoDescMessage').onclick = function () {
            var header = document.getElementById('toDoMessage').innerText;
            var stop = ".";
            var extra ="There are two ways to enter To Do items to your list. You can type them in, then press enter to add them, or you can click the microphone, to add an item using your voice.";
            var body = document.getElementById('toDoDescMessage').innerText + extra;
            speak((header + stop) + body);
        };
    </script>
<script>

    function startDictationToDo() {

        if (window.hasOwnProperty('webkitSpeechRecognition')) {

            var recognition = new webkitSpeechRecognition();

            recognition.continuous = false;
            recognition.interimResults = false;

            recognition.lang = "en-US";
            recognition.start();



            recognition.onresult = function(e) {
                document.getElementById('transcript').value
                                         = e.results[0][0].transcript;
                recognition.stop();

                if (document.getElementById('transcript').value == null) {
                    swal({
                        type: "error",
                        title: "We didn't catch that!",
                        text: "Try again to dictate your speech",
                        timer: 2000,
                        showConfirmButton: false
                    });
                    window.location.href = 'http://localhost:59658/Blog/Index';
                } else {
                    swal({
                        type: "success",
                        title: "Loud and Clear!",
                        text: "You Said: " + document.getElementById('transcript').value,
                        timer: 2000,
                        showConfirmButton: false
                    });
                    document.getElementById('bxc').value = document.getElementById('transcript').value;
                }

            };

            recognition.onerror = function(e) {
                recognition.stop();
            }

        }
    }
</script>
    @Scripts.Render("~/bundles/jqueryval")
}
